* {
    background: #121212;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #fff;
}

.button-row {
    gap: 20px;
}

.button-row button {
    background-color: #fff;
    padding: 10px;
    margin: 25px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px #3882f6;
}
.button-row button:hover {
    color: #121212;
    box-shadow: 2px 5px #3882f6;
    filter: brightness(125%);
}